.navbar {
   height: 88px;

   .navbar-container {
      width: 80%;
      margin: 0 auto;
      font-size: 10px;

      .navbar-brand {
         letter-spacing: 2px;
         cursor: pointer;
      }
   }
}

.navbar-nav li {
   margin-left: 28px;
}

.nav-item .nav-item-border {
   padding-bottom: 26px;
   border: 1px solid #8f8e8e;
   margin-right: 28px;
}

.nav-item .nav-link {
   font-size: 15px;
   font-weight: 500;
   cursor: pointer;
}

.nav-item .nav-link:hover {
   color: #1cc88a !important;
   transition: all 0.3s ease-in-out;
}

.nav-item:hover {
   border-color: #1cc88a !important;
   transition: all 0.3s ease-in-out;
}

.authentication-container ul {
   list-style: none;
   display: flex;
   padding-left: 0;
}

.signup-btn,
.login-btn {
   width: 100%;
   background: #1cc88a;
}

.signup-btn:hover,
.login-btn:hover {
   background: #26b480;
}

#user-info {
   display: flex;
   align-items: center;
   font-size: 15px;
   font-weight: 500;
}

#user-info .avatar-image {
   border-radius: 50%;
   margin-right: 15px;
   width: 40px;
   height: 40px;
}
